* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color:#f3f5f9;
}

.home-container {
  max-height: 100%;
}

.col-names-container {
  box-sizing: border-box;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #cdcdc569;
}

@media screen and (max-width: 768px) {
  .col-names-container {
    display: none;
  }
}

.col-contents-container {
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-family: 'Sora';
}

.ipo-list-container {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ipo-list-container::-webkit-scrollbar {
  display: none;
}

.ipo-items-container {
  list-style: none;
  padding: 0;
}

.list-link {
  text-decoration: none;
  color: black;
}

.list-link:hover {
  text-decoration: none;
}

.ipo-list {
  box-sizing: border-box;
  margin-bottom: 6px;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F0EF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.ipo-sm-list {
  box-sizing: border-box;
  margin-bottom: 6px;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: none;
  background-color: #F2F0EF;
}

@media screen and (max-width: 768px) {
  .ipo-list {
    display: none;
  }

  .ipo-sm-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
}

.ipo-data-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ipo-data-container h5 {
  font-weight: 500;
}

.sm-view-details {
  float: right;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
}

.ipo-list h3 {
  margin: 0;
}

.company-content-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.company-content-container p {
  color: grey;
}

.company-content-container h3 {
  margin: 0;
  padding: 0;
}

.company-content-container p {
  margin: 0;
  padding: 0;
}

.company-logo {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.company-name-container {
  margin-left: 10px;
  margin-right: 0;
}

.issue-size {
  width: 150px;
  text-align: left;
}

.ipo-price-band {
  width: 100px;
  text-align: left;
}

.ipo-shares-container {
  text-align: center;
  margin-left: 20px;
  width: 120px;
}

.detail-view-container {
  padding: 25px;
  height: 100vh;
}

.pages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .pages-container {
    display: none;
  }
}

.home-link {
  color: grey;
  text-decoration: none;
}

.details-view-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .details-view-content-container {
    padding: 10px;
  }
}

.details-view-content-container::-webkit-scrollbar {
  display: none;
}

.details-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-view-company-content-container {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-view-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  box-shadow: 0 0 8px 2px lightgray;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

/* @media  screen and (max-width: 768px) {
  .details-view-arrow-button {
    display: none;
  }
} */

.details-view-arrow-button:hover {
  cursor: pointer;
  outline: none;
  background-color: #ccc;
  transition: 0.7s ease-in-out;
}

.details-view-company-name-container {
  display: flex;
  align-items: center;
}

.details-view-header-btn-container {
  height: 100%;
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-view-header-btn-container div {
  height: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .details-view-header-btn-container {
    display: none;
  }
}

.details-view-header-btn-container button {
  box-sizing: border-box;
  border: none;
  background-color: navy;
  color: #fff;
  font-weight: 600;
  padding: 18px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 14px;
}

.details-view-header-btn-container button:hover {
  cursor: pointer;
  background-color: blue;
  transition: 0.7s ease-in-out;
}

.ipo-details-container {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-top: 30px;
  padding: 25px;
  padding-top: 20px;
}

.ipo-details-container h4 {
  margin-bottom: 15px;
}

.ipo-details-container ul {
  list-style: none;
  padding: 18px;
  padding-left: 25px;
  padding-bottom: 0;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .ipo-details-container {
    height: fit-content;
    border: 0;
    padding: 0;
  }
  
  .ipo-details-container ul {
    grid-template-columns: repeat(2, 100px);
    column-gap: 20px;
  }
}

.ipo-details-container li {
  text-align: left;
}

.ipo-details-container li > p {
  font-size: 12px;
  margin-bottom: 5px;
}

.ipo-details-container li > h4 {
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .ipo-details-container li > h4 {
    font-size: 13px;
  }
}

.ipo-timeline-container {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-top: 30px;
  padding: 25px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .ipo-timeline-container {
    height: fit-content;
    padding: 0;
    border: 0;
  }

  .ipo-timeline-container h4 {
    margin-bottom: 10px;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.timeline-container h5 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.timeline-container p {
  font-size: 13px;
  font-weight: 400;
  columns: lightgray;
  margin: 0;
  padding: 0;
}

.lg-timeline-view {
  display: block;
}

.sm-timeline-view {
  display: none;
}

@media screen and (max-width: 768px)  {
  .lg-timeline-view {
    display: none;
  }

  .sm-timeline-view {
    display: block;
    height: fit-content;
    scrollbar-width: none;
  }
}

.about-company {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-top: 30px;
  padding: 25px;
  padding-top: 20px;
}

.about-company h4 {
  margin-bottom: 10px;
}

.company-desc {
  display: block;
}

.about-company div {
  display: none;
}

.read-more {
  color: #FFAE42;
  text-decoration: underline;
  display: none;
}

@media screen and (max-width: 768px) {
  .company-desc {
    display: none;
  }

  .about-company div {
    display: block;
  }

  .read-more {
    display: block;
  }
}